// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Font Awesome
@import "~font-awesome/css/font-awesome.css";

// Highlighting Style
//@import "~highlight.js/styles/solarized-light.css";
//@import "~highlight.js/styles/github.css";
//@import "~highlight.js/styles/dracula.css";
@import "~highlight.js/styles/atom-one-dark.css";

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
