<template>
    <div>
        <p><code>query: {{ query }}</code></p>
        <p><code>query: {{ queryAPI }}</code></p>
        <p><code>queryDDBB 1: {{ queryDDBB[0] }}</code></p>
        <p><code>queryDDBB 2: {{ queryDDBB[1] }}</code></p>
        <datatable v-bind="$data">
        <button class="btn btn-primary" @click="alertSelectedUids" :disabled="!selection.length">
            <i class="fa fa-commenting-o"></i>
            Alert selected company(ies) id(s)
        </button>
        </datatable>
    </div>
</template>

<script>
import mockData from '../../../resources/js/vendor/_mockData'
import components from './comps/'
export default {
  components,
  name: 'FriendsTable', // `name` is required as a recursive component
  props: ['row'], // from the parent FriendsTable (if exists)
  data () {
    const amINestedComp = !!this.row
    return {
      supportBackup: true,
      supportNested: true,
      tblClass: 'table-bordered',
      tblStyle: 'color: #666',
      pageSizeOptions: [2, 3, 5, 10],
      columns: (() => {
        const cols = [
          { title: 'ID', field: 'id', label: 'Company ID', sortable: false, visible: 'true' },
          // { title: 'Company', field: 'name', thComp: 'FilterTh', tdStyle: { fontStyle: 'italic' } },
          { title: 'Company', field: 'name', tdStyle: { fontStyle: 'italic' } },
          // { title: 'UID', field: 'uid', label: 'User ID', sortable: true, visible: 'true' },
          // { title: 'Email', field: 'email', visible: false, thComp: 'FilterTh', tdComp: 'Email' },
          // { title: 'Username', field: 'name', thComp: 'FilterTh', tdStyle: { fontStyle: 'italic' } },
          // { title: 'Country', field: 'country', thComp: 'FilterTh', thStyle: { fontWeight: 'normal' } },
          // { title: 'IP', field: 'ip', visible: false, tdComp: 'IP' },
          // { title: 'Age', field: 'age', sortable: true, thClass: 'text-info', tdClass: 'text-success' },
          // { title: 'Create time', field: 'createTime', sortable: true, colClass: 'w-240', thComp: 'CreatetimeTh', tdComp: 'CreatetimeTd' },
          // { title: 'Create time', field: 'created_at', sortable: true, colClass: 'w-240', thComp: 'CreatetimeTh', tdComp: 'CreatetimeTd' },
          // { title: 'Color', field: 'color', explain: 'Favorite color', visible: false, tdComp: 'Color' },
          // { title: 'Language', field: 'lang', visible: false, thComp: 'FilterTh' },
          // { title: 'PL', field: 'programLang', explain: 'Programming Language', visible: false, thComp: 'FilterTh' },
          // { title: 'Operation', tdComp: 'Opt', visible: 'true' }
          { title: 'Operation', tdComp: 'Opt', visible: 'true' }
        ]
        const groupsDef = {
          Normal: ['Name'],
          Sortable: ['ID', 'Create time'],
          Extra: ['Operation']
        }
        return cols.map(col => {
          Object.keys(groupsDef).forEach(groupName => {
            if (groupsDef[groupName].includes(col.title)) {
              col.group = groupName
            }
          })
          return col
        })
      })(),
      data: [],
      total: 0,
      selection: [],
      summary: {},
      // `query` will be initialized to `{ limit: 10, offset: 0, sort: '', order: '' }` by default
      // other query conditions should be either declared explicitly in the following or set with `Vue.set / $vm.$set` manually later
      // otherwise, the new added properties would not be reactive
      // query: amINestedComp ? { uid: this.row.friends } : {},
      query: amINestedComp ? { uid: this.row.protocols } : {},
      // any other staff that you want to pass to dynamic components (thComp / tdComp / nested components)
      xprops: {
        eventbus: new Vue()
      },
        queryAPI: '',
        queryDDBB: 'select * from `orgs` order by `id` asc limit 2 offset 0'
    }
  },
  watch: {
    query: {
      handler () {
        this.handleQueryChange()
      },
      deep: true
    }
  },
  methods: {
    handleQueryChange () {
      // mockData(this.query).then(({ rows, total, summary }) => {
        // this.data = rows
        // this.total = total
        // this.summary = summary
      // })


        let url = location.protocol + '//' + location.hostname + (location.port ? ':'+location.port: '') + '/api/test' +
            '?limit=' + this.query.limit +
            '&offset=' + this.query.offset +
            '&sort=' + this.query.sort +
            '&order=' + this.query.order
        this.queryAPI = url

        this.axios.get(url)
            .then(({data}) => {
                this.data = data.rows
                this.total = data.total
                this.queryDDBB = data.queryDB
            })
    },
    alertSelectedUids () {
      alert(this.selection.map(({ id }) => id))
    }
  }
}
</script>
<style>
.w-240 {
  width: 240px;
}
</style>
